*.iml
.gradle
/local.properties
/app/build
/video_push/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# PC 端分析工具
/pc/.venv/
/pc/build/
/pc/out/
__pycache__/
